body {
	background: radial-gradient(#22f, #111);
}

main {
	display: flex;
	justify-content: space-between;
}

.monster-container {
	/*height: 100vh;*/

	img {
		height: 50vh;
		border-radius: 1em;
		border-image: 1em;
	
		border: 4px solid #1111;
		box-shadow: 0 0 1em gold;
	}
}
