body {
	color: wheat;
	background: radial-gradient(#22f, #111);
}

main {
	display: flex;
	justify-content: space-between;
}

.monster-container {
	/*height: 100vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	gap: 1em;

	img {
		height: 50vh;
		border-radius: 2em;
		border-image: 1em;
	
		border: 1em ridge #1117;
		box-shadow: 0 0 1em gold;
	}

	table {
		background-color: #6417;
		border-radius: 1em;
		box-shadow: 0 0 1em black;
		padding: 2em;
	}
}
